<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title.detalhesUsuario}">Detalhes do Usuário</title>

</head>
<body>
<h1 th:text="#{title.detalhesUsuario}">Detalhes do Usuário</h1>
<div class="details">
    <p><span th:text="${usuario.idUsuarios}"></span></p>
    <p><span th:text="${usuario.nome}"></span></p>
    <p><span th:text="${usuario.telefone}"></span></p>
    <p><span th:text="${usuario.pontos}"></span></p>
</div>
<div class="actions">
    <a href="/usuario" th:text="#{link.voltar}">Voltar</a>
    <a class="edit-button" th:href="@{/usuario/editar/{id}(id=${usuario.idUsuarios})}" th:text="#{link.editar}">Editar</a>
</div>
</body>
</html>