<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title.detalhesResidencia}">Detalhes da Residência</title>

</head>
<body>
<h1 th:text="#{title.detalhesResidencia}">Detalhes da Residência</h1>
<div class="details">
    <p><span th:text="${residencia.dispositivoMonitoramento}"></span></p>
    <p><span th:text="${residencia.quantidadePessoas}"></span></p>
    <p><span th:text="${residencia.mediaConsumo}"></span></p>
</div>
<div class="actions">
    <a href="/residencia" th:text="#{link.voltar}">Voltar</a>
    <a class="edit-button" th:href="@{/residencia/editar/{id}(id=${residencia.idResidencia})}" th:text="#{link.editar}">Editar</a>
</div>
</body>
</html>